---
import { getAbsoluteLocaleUrl } from 'astro:i18n';
import { getAllMods, getAuthorLink, getLocalizedDate } from '../../mods';
import Layout from '../../layouts/Layout.astro';
import Title from '../../components/Title.astro';
import Description from '../../components/Description.astro';
import Button from '../../components/Button.astro';
import BackButton from '../../components/BackButton.astro';
import { Info } from 'lucide-astro';
import CustomBreadcrumb from '../../components/CustomBreadcrumb.astro'

export async function getStaticPaths() {
  const mods = await getAllMods();
  return mods.map((mod) => ({
    params: { slug: mod.id },
    props: { ...mod },
  }));
}

// https://github.com/TeaClientMC/Website/blob/7faacc9f8b2c79c74f711d413b155c84faafc00d/src/pages/news/%5B...slug%5D.astro

const mod = Astro.props;

const dates = {
  createdAt: getLocalizedDate(mod.createdAt),
  updatedAt: getLocalizedDate(mod.updatedAt)
}

// Breadcrumb data for the three-level breadcrumb
const currentPath = Astro.request.url;
const titles = {
  home: "Home",
  mods: "Mods",
  modName: mod.name, 
};
const links = {
  home: "/",
  mods: "/mods",
  modName: currentPath, 
};
---

<Layout title={`${mod.name} - Zen Mods`} >
  <CustomBreadcrumb titles={titles} links={links} currentPath={currentPath} />
  <main class="mt-6 2xl:mt-0">
    <div class="px-8 mx-auto flex flex-col lg:w-1/2 gap-6 mt-20 lg:mt-32 mb-24">
      <div
        id="install-theme-error"
        class="flex flex-col md:flex-row items-center justify-center md:justify-between mt-[75px] lg:mt-[25px] gap-2 rounded-xl bg-red-200 p-2 px-4"
      >
        <div class="flex items-center gap-2 text-center md:text-left">
          <Info />
          <p class="text-muted-foreground text-sm">
            You need to have Zen Browser installed to install this theme.{' '}
          </p>
        </div>
        <Button href="/download" class="inline-flex bg-red-300 flex-shrink-0 whitespace-nowrap" isAlert
          >Download now!</Button
        >
      </div>
      <BackButton />
      <div>
        <Title>{mod.name}</Title>
        <Description>{mod.description}</Description>
      </div>
      <img
        src={mod.image}
        alt={mod.name}
        class="h-full w-full object-cover rounded-xl border-2 shadow border-dark"
      />
      <div class="flex justify-between flex-col sm:flex-row gap-2">
        <div class="font-normal flex-shrink-0">
          <p>Created by <a href={getAuthorLink(mod.author)} class="font-bold">@{mod.author}</a> • <span class="font-bold">v{mod.version}</span></p>
          <p>Creation date • <b>{dates.createdAt}</b></p>
          {(dates.createdAt !== dates.updatedAt) && <p>Latest update • <b>{dates.updatedAt}</b></p>}
        </div>
        <div class="flex flex-col sm:items-end">
          <Button
            class="hidden"
            id="install-theme"
            extra={{"zen-theme-id":mod.id}}
            isPrimary
          >
            Install Theme 🎉
          </Button>
          <Button
            class="hidden"
            id="install-theme-uninstall"
            extra={{"zen-theme-id":mod.id}}
            isPrimary
          >
            Uninstall Theme
          </Button>
        </div>
      </div>
      <!-- TODO: Readme markdown 
      <div class="h-[1px] opacity-80 bg-dark w-full"></div>
      -->
    </div>
    <div>
  </main>
</Layout>
