---
import Layout from '~/layouts/Layout.astro'
import Features from '~/components/Features.astro'
import { getLocale, getUI } from '~/utils/i18n'
export { getStaticPaths } from '~/utils/i18n'

const locale = getLocale(Astro)

const {
  routes: { welcome },
  layout,
} = getUI(locale)
---

<Layout title={layout.welcome.title} description={layout.welcome.description}>
  <main
    class="relative mx-auto flex flex-col items-center gap-24 px-6 lg:gap-0 lg:px-24"
  >
    <Features
      title1={welcome.title[0]}
      title2={welcome.title[1]}
      title3={welcome.title[2]}
    />
  </main>
</Layout>
