---
import { motion } from 'motion/react'
import { getTitleAnimation } from '~/animations'
import Description from '~/components/Description.astro'
import Video from './Video.astro'

import CompactModeVideo from '~/assets/CompactMode.webm'
import GlanceVideo from '~/assets/Glance.webm'
import SplitViewsVideo from '~/assets/SplitViews.webm'
import WorkspacesVideo from '~/assets/Workspaces.webm'

import { getLocale, getUI } from '~/utils/i18n'

const locale = getLocale(Astro)

const {
  routes: {
    index: { features },
  },
} = getUI(locale)

const { title1 = features.title1, title2 = features.title2, title3 = features.title3 } = Astro.props

const featureList = [
  {
    key: 'workspaces',
    video: WorkspacesVideo,
    ...features.featureTabs.workspaces,
  },
  {
    key: 'compactMode',
    video: CompactModeVideo,
    ...features.featureTabs.compactMode,
  },
  {
    key: 'glance',
    video: GlanceVideo,
    ...features.featureTabs.glance,
  },
  {
    key: 'splitView',
    video: SplitViewsVideo,
    ...features.featureTabs.splitView,
  },
]
---

<section
  class="relative flex w-full flex-col items-center gap-12 py-12 text-center lg:py-36"
>
  <Description class="mb-2 text-4xl sm:text-6xl font-bold">
    <motion.span client:load {...getTitleAnimation(0.2)}>
      {title1}
    </motion.span>
    <motion.span client:load {...getTitleAnimation(0.4)}>
      {title2}
    </motion.span>
    <motion.span client:load {...getTitleAnimation(0.6)}>
      {title3}
    </motion.span>
  </Description>
  <motion.p client:load {...getTitleAnimation(0.6)} className="flex items-center justify-center max-w-2xl text-lg opacity-80">
    {features.description}
  </motion.p>
  <div class="flex w-full flex-col items-center justify-center gap-12">
    {featureList.map((feature, i) => (
      <motion.div
        client:load
        {...getTitleAnimation(0.8 + i * 0.2)}
        className="w-full flex flex-col items-center justify-center gap-4"
      >
        <Description class="text-2xl font-bold text-center">
          {feature.title}
        </Description>
        <Description class="flex items-center justify-center max-w-xl text-center">
          {feature.description}
        </Description>
        <Video
          src={feature.video}
          autoplay
          loop
          muted
          playsinline
          preload="none"
          class="w-full rounded-3xl max-w-3xl shadow-md dark:opacity-80"
        />
      </motion.div>
    ))}
  </div>
</section>

