---
import Title from '../components/Title.astro'
import Description from '../components/Description.astro'
import { Image } from 'astro:assets';

import browserWorkspaces from '../assets/browser-workspaces.png';
import browserCompactMode from '../assets/browser-compactmode.png';
import browserSplitViews from '../assets/browser-splitview.png';
import browserSidebar from '../assets/browser-sidebar.png';

import browserGlance from '../assets/browser-glance.webm';
---

<section
  id="features"
  class="flex w-full px-4 lg:px-12 xl:px-24 py-56 flex-col relative"
>
  <div class="flex flex-col lg:flex-row w-full items-start gap-12">
    <div id="feature-list" class="lg:w-1/3 flex flex-col gap-4">
      <Title>Features</Title>
      <div class="feature flex hover:bg-coral/5 rounded-xl p-4 w-full cursor-pointer">
        <div class="flex flex-col">
          <Description class="feature-title font-bold text-2xl">
            Workspaces
          </Description>
          <p class="desc text-base font-normal mt-2">
            With Zen, you can create multiple workspaces to keep your tabs organized.
          </p>
        </div>
      </div>
      <div class="feature flex hover:bg-coral/5 rounded-xl p-4 w-full cursor-pointer">
        <div class="flex flex-col">
          <Description class="feature-title font-bold text-2xl">
            Compact Mode
          </Description>
          <p class="desc text-base font-normal mt-2">
            Zen's compact mode allows you to see more of your content at once.
          </p>
        </div>
      </div>
      <div class="feature flex hover:bg-coral/5 rounded-xl p-4 w-full cursor-pointer">
        <div class="flex flex-col">
          <Description class="feature-title font-bold text-2xl">
            Split Views
          </Description>
          <p class="desc text-base font-normal mt-2">
            Split your browser into multiple views to see more content at once.
          </p>
        </div>
      </div>
      <div class="feature flex hover:bg-coral/5 rounded-xl p-4 w-full cursor-pointer">
        <div class="flex flex-col">
          <Description class="feature-title font-bold text-2xl">
            Sidebar
          </Description>
          <p class="desc text-base font-normal mt-2">
            Zen's sidebar allows you to quickly access your favourite websites.
          </p>
        </div>
      </div>
      <div class="feature flex hover:bg-coral/5 rounded-xl p-4 w-full cursor-pointer">
        <div class="flex flex-col">
          <Description class="feature-title font-bold text-2xl">
            Zen Glance
          </Description>
          <p class="desc text-base font-normal mt-2">
            Preview your tabs with Zen Glance to quickly find what you're looking for, without switching tabs.
          </p>
        </div>
      </div>
    </div>
    <div class="relative lg:w-2/3 lg:pl-20 items-center m-auto">
      <div class="ml-auto" id="feature-list-image">
        <Image src={browserWorkspaces} alt="Browser Workspaces" class="rounded-xl shadow border-4 border-white" />
        <Image src={browserCompactMode} alt="Browser Compact Mode" class="rounded-xl shadow border-4 border-white" />
        <Image src={browserSplitViews} alt="Browser Split Views" class="rounded-xl shadow border-4 border-white" />
        <Image src={browserSidebar} alt="Browser Sidebar" class="rounded-xl shadow border-4 border-white" />
        <video src={browserGlance} autoplay loop muted playsinline class="rounded-xl shadow border-4 border-white absolute top-0 left-0 w-full h-full object-cover" />
      </div>
    </div>
  </div>
</section>
<script>
  function changeFeature(index: number) {
    document.querySelectorAll('#feature-list .feature').forEach((feature: any, i) => {
      if (i === index) {
        feature.setAttribute('active', '');
      } else {
        feature.removeAttribute('active');
      }
    });
    document.querySelectorAll('#feature-list-image > *').forEach((img: any, i) => {
      img.style.opacity = i === index ? 1 : 0;
      img.classList.toggle('absolute', i !== index);
      img.classList.toggle('hidden', i !== index);
    });
  }

  document.querySelectorAll('#feature-list .feature').forEach((feature: any, i) => {
    feature.addEventListener('click', () => {
      changeFeature(i);
    });
  });
  changeFeature(0);
</script>
<style>
  .feature {
    user-select: none;
    transition: background-color 0.1s ease-in-out;
  }

  .feature p {
    transition: max-height 0.2s ease-in-out, margin-top 0.1s ease-in-out;
  }

  .feature:not([active]) .desc {
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    margin-top: 0;
  }

  .feature[active] {
    @apply bg-coral/10;
  }
</style>