---
import Button from '~/components/Button.astro'
import Title from '~/components/Title.astro'
import ArrowRightIcon from '~/icons/ArrowRightIcon.astro'
import { getLocale, getPath, getUI } from '~/utils/i18n'
import SocialMediaStrip from './SocialMediaStrip.astro'
import Video from './Video.astro'

const locale = getLocale(Astro)

const getLocalePath = getPath(locale)

const {
  routes: {
    index: { hero },
  },
} = getUI(locale)
---

<header id="header" class="flex w-full flex-col items-center gap-12 py-32 text-center lg:gap-16">
  <div class="flex h-full flex-col items-center justify-center gap-6 md:gap-12">
    <div>
      <Title
        class="relative px-12 text-center text-5xl font-normal md:text-7xl lg:px-0 lg:text-9xl"
      >
        {
          hero.title.map(title =>
            title.text !== '\n' ? (
              <span
                class:list={[
                  'translate-y-20 opacity-0 blur-sm',
                  title.highlight && 'italic text-coral',
                ]}
              >
                {title.text}
              </span>
            ) : (
              <br class="hidden md:block" />
            )
          )
        }
      </Title>
      <p class="translate-y-20 px-12 text-center opacity-0 blur-sm lg:px-0">
        {hero.description[0]}
        <br class="hidden sm:inline" />
        {hero.description[1]}
      </p>
    </div>
    <div
      class="hero__link-group flex w-2/3 flex-col items-center justify-center gap-3 sm:gap-6 md:w-fit md:flex-row"
    >
      <Button
        class="w-fit translate-y-20 opacity-0 blur-sm"
        href={getLocalePath('/download')}
        isPrimary
      >
        {hero.buttons.beta}
        <ArrowRightIcon class="size-4" />
      </Button>
      <Button href={getLocalePath('/donate')} class="w-fit translate-y-20 opacity-0 blur-sm">
        {hero.buttons.support}
      </Button>
    </div>
    <SocialMediaStrip class="translate-y-20 blur-sm" opacity={0} />
  </div>
  <Video
    name="hero-video"
    autoplay
    loop
    muted
    playsinline
    preload="none"
    class="translate-y-20 rounded-xl opacity-0 blur-sm"
  />
</header>

<script>
  import { animate, onScroll, stagger } from 'animejs'

  function initAnimations() {
    const debug = false

    const elements = document.querySelectorAll(
      '#header h1 span, #header p, #header .hero__link-group a, #header video, #header ul'
    )

    animate(elements, {
      // @ts-expect-error - element is HTMLElement
      opacity: element => {
        // if ul is the element, return 0.8
        if (element.tagName === 'UL') {
          return 0.8
        }
        return 1
      },
      translateY: 0,
      filter: 'blur(0px)',
      duration: 300,
      delay: stagger(150),
      easing: 'easeOutQuart',
      autoplay: onScroll({
        target: '#header',
        debug,
      }),
    })
  }
  initAnimations()
</script>
