---
import h3 from '~/components/Description.astro'
import { getLocale, getUI } from '~/utils/i18n'

const locale = getLocale(Astro)

import tutaLogo from '~/assets/sponsors/tutaLogo-dark.svg'
import blacksmithLogo from '~/assets/sponsors/blacksmith-logo-dark.svg'
import crowdinLogo from '~/assets/sponsors/crowdin-logo-dark.svg'

import Image from 'astro/components/Image.astro'
const { showSponsors = true } = Astro.props

const {
  routes: {
    index: { sponsors },
  },
} = getUI(locale)
---

<section id="sponsors" class:list={['py-12', !showSponsors && 'hidden']}>
  <div class="grid items-center gap-8 text-center">
    <div class="grid gap-2">
      <h3
        class="text-4xl font-bold sm:text-6xl"
        style="transform: translateY(20px); opacity: 0.001; filter: blur(4px)"
      >
        {sponsors.title}
      </h3>
      <p class="text-base" style="transform: translateY(20px); opacity: 0.001; filter: blur(4px)">
        <span class="opacity-80" set:html={sponsors.description} />
      </p>
    </div>
    <div
      class="sponsors__sponsor relative flex flex-wrap items-center justify-center gap-8 md:gap-12"
    >
      <a href={sponsors.sponsors['blacksmith'].url} target="_blank" class="w-fit">
        <Image
          src={blacksmithLogo}
          alt={sponsors.sponsors['blacksmith'].name}
          class="h-16 w-fit object-contain dark:invert"
        />
      </a>
      <a
        href={sponsors.sponsors['crowdin'].url}
        target="_blank"
        class="w-fit"
        style="transform: translateY(20px); opacity: 0.001; filter: blur(4px)"
      >
        <Image
          src={crowdinLogo}
          alt={sponsors.sponsors['crowdin'].name}
          class="h-16 w-fit object-contain dark:invert"
        />
      </a>
      <a
        href={sponsors.sponsors['tuta'].url}
        target="_blank"
        class="w-fit"
        style="transform: translateY(20px); opacity: 0.001; filter: blur(4px)"
      >
        <Image
          src={tutaLogo}
          alt={sponsors.sponsors['tuta'].name}
          class="h-16 w-fit object-contain dark:invert"
        />
      </a>
    </div>
  </div>
</section>

<script>
  import { animate, onScroll, stagger } from 'animejs'

  function initAnimations() {
    const debug = false

    const elements = document.querySelectorAll(
      '#sponsors h3, #sponsors p, #sponsors .sponsors__sponsor a'
    )

    animate(elements, {
      opacity: { from: 0.001, to: 1 },
      translateY: { from: 20, to: 0 },
      filter: { from: 'blur(4px)', to: 'blur(0px)' },
      duration: 300,
      delay: stagger(150),
      ease: 'cubicBezier(0.25, 0.1, 0.25, 1)',
      autoplay: onScroll({
        target: '#sponsors',
        debug,
      }),
    })
  }
  initAnimations()
</script>
