---
import ArrowRightIcon from '~/icons/ArrowRightIcon.astro'
import Button from '../Button.astro'

interface ReleaseInfo {
  label?: string
  link: string
  checksum?: string
}

interface PlatformReleases {
  universal?: ReleaseInfo
  all?: ReleaseInfo
  tarball?: ReleaseInfo
  x86_64?:
    | {
        tarball?: ReleaseInfo
      }
    | ReleaseInfo
  aarch64?: {
    tarball?: ReleaseInfo
  }
  arm64?: ReleaseInfo
  flathub?: { all: ReleaseInfo }
}

interface Props {
  platform: 'mac' | 'windows' | 'linux'
  icon: string[]
  description: string
  releases: PlatformReleases
  cpu: 'x86_64' | 'aarch64' | 'arm64'
}

const { platform, icon, releases, cpu } = Astro.props

function isFlatReleaseInfo(obj: unknown): obj is ReleaseInfo {
  return !!obj && typeof obj === 'object' && 'link' in obj
}

function getReleaseLink(releases: PlatformReleases, { os, cpu }: { os: string; cpu?: string }) {
  if (os === 'mac') {
    return releases.universal?.link || releases.all?.link || ''
  } else {
    if (cpu === 'x86_64') {
      if (isFlatReleaseInfo(releases.x86_64)) {
        return releases.flathub?.all.link || releases.x86_64.link || ''
      }
      return releases.x86_64?.tarball?.link ? releases.x86_64?.tarball?.link : ''
    } else if (cpu === 'aarch64') {
      return releases.aarch64?.tarball?.link || ''
    } else if (cpu === 'arm64') {
      return releases.arm64?.link || ''
    }
  }
}
---

<div
  id={`${platform}-${cpu}-downloads`}
  data-active={false}
  class="platform-section data-[active='false']:hidden"
  data-cpu={cpu}
  data-platform={platform}
>
  <div class="items-center gap-8 md:flex">
    <div class="mx-auto flex w-full justify-center gap-4">
      <Button
        class="download-button w-fit"
        href={getReleaseLink(releases, { os: platform, cpu })}
        isPrimary
      >
        <Fragment set:html={icon} />
        Download for {
          platform === 'mac' ? 'MacOS' : platform.charAt(0).toUpperCase() + platform.slice(1)
        }
      </Button>
      {
        platform === 'linux' && (
          <Button
            class="download-button w-fit"
            href={releases.flathub?.all.link || ''}
            aria-label="Download from Flathub"
            target="_blank"
            rel="noopener noreferrer"
          >
            Flathub
            <ArrowRightIcon class="size-4" />
          </Button>
        )
      }
    </div>
  </div>
</div>

<style is:global>
  .download-button .svg-inline--fa {
    @apply size-5;
  }
</style>
